{{>layouts/header}}
<table class="table">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Title</th>
        <th scope="col">Content</th>
    </tr>
    </thead>
    <tbody>
    {{#article}}
    <tr>
        <th>1</th>
        <td>제목1111</td>
        <td>내용1111</td>
    </tr>
    {{/article}}
    </tbody>
</table>
{{>layouts/footer}}